<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="<please fill in>" Version="1.0.0.0" Publisher="<please fill in>" />
  <Properties>
    <DisplayName>Entertainment Connect</DisplayName>
    <PublisherDisplayName>GCL Project</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Entertainment Connect" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="OneSong" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" WideLogo="images\widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="default.html">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>